@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mulish', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}



:root {
  --font: 'Mulish', sans-serif;
  --poppinsFont: 'Poppins', sans-serif;
  --white: #fff;
  --primeColor: #893A8D;
  --secondColor: #F9A67D;
  --subPrime: #d6bce3;
  --bgHighlight: #f5eaea;
  --bgLowlight: #fefae0;
  --bgFooter: #d4bdde;
  --bgModal: #d5dcdf;
  --bgInput: #eee;
  --heroBgLeft: #F9F1E7;
  --heroBgRight: #FCF8F3;
  --footerHeading: #333;
  --footerItem: #777;
  --modalBoxShadow: 0px 0px 20px 5px rgba(15, 15, 15, 0.35);
  --inboxSubBg: linear-gradient(to right, #893a8ddc, #893a8d15, #ffffff23);
  --cfSubBg: linear-gradient(to top, #893a8ddc, #893a8d15, #ffffff23);
}


/* Home Screen */

.catTabs .nav-tabs .nav-link {
  border: none !important;
  color: #444 !important;
  cursor: pointer;
}

.catTabs .nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--primeColor) !important;
}

/* HEADER */
.headerSearchBtn {
  background-color: var(--primeColor);
  margin: 0px 8px;
}

.headerFriesMenu {
  background-color: var(--secondColor);
}

.headerSearchBtn,
.headerFriesMenu {
  color: var(--white);
  font-weight: bold;
  padding: 5px 8px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: scale-down;
}

.navContainer {
  /* height: 95px; */
}

.menuModal .modal-content {
  background-color: var(--bgModal);
  border-radius: 4px;
  border: none;
  box-shadow: var(--modalBoxShadow);
}

.menuModal .closeBtn svg {
  color: var(--primeColor);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.menuModal .modal-header {
  border-radius: 0px;
  border-bottom: none;
}

.menuModal .modal-body {
  padding: 16px 32px;
  overflow: hidden;

}

.menuOptions ul {
  list-style: none;
}

.menuOptions ul li {
  width: fit-content;
  cursor: pointer;
  margin: 0px 8px;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 24px;
}

.menuOptions ul li,
.menuOptions ul li::before {
  transition: all ease-in 300ms;
}

.menuOptions ul li:hover {
  transform: translateX(100px);
}

.menuOptions ul li:hover::before {
  content: '';
  background-color: var(--primeColor);
  width: 150px;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  left: -150px;
  top: 28px;

}

.menuModal .modal-footer {
  border-top: none;
  border-radius: 0px;
}

/* FOOTER */

.footerContentWrapper {
  background-color: var(--subPrime);
}

.footerRibbon {
  background-color: var(--primeColor);
  width: 100%;
  padding: 1rem;
}

.footerHeading h6 {
  color: var(--footerHeading);
  margin: 0px;
}

.footerHeading ul {
  list-style: none;
  padding: 8px 0px 0px;
}

.footerHeading ul li {
  color: var(--footerItem);
  cursor: pointer;
  margin: 16px 0px;
  font-size: 16px;
}

.footerHeading ul li:hover {
  color: var(--footerHeading)
}

.footerSocialLogos {
  margin: 24px 0px 32px 0px;
}

.footerSocialLogos img {
  width: 20px;
  height: 20px;
  margin-right: 24px;
  cursor: pointer;
}

.footerNewsletter {
  margin: 24px 0px 0px;
}

.footerNewsletter input {
  background-color: var(--bgInput);
  border: 1px solid var(--bgInput);
  padding: 8px 12px;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  width: 100%;
}

.footerNewsletter .btn {
  background-color: var(--primeColor);
  color: white;
  border-radius: 0px 4px 4px 0px;
  padding: 8px 12px;
  border: 1px solid var(--primeColor);
}

.footerNewsletter .btn:hover {
  background-color: var(--secondColor);
  border-color: var(--secondColor);
  /* color: var(--primeColor); */
}

.footerPaymentGateways {
  /* margin: 24px 0px 0px; */
}

.footerPaymentGateways img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  /* margin-right: 5px; */
}

.footerPaymentGateways img.visa {
  width: 90px;
  height: 90px;
}

.footerPaymentGateways img.paypal {
  width: 50px;
  height: 50px;
}

/* Inbox Subscription */

.inboxSubWrapper {
  background-image: url("../img/clothes-hangged.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.inboxSubContainer {
  position: relative;
  width: 100%;
}

.inboxSubBackdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--inboxSubBg);
}

.inboxSubWrapper .inboxSubContent h1,
.inboxSubContent p,
.inboxSubWrapper .inboxSubContent button {
  color: var(--white);
  position: relative;
  z-index: 10;
}

.inboxSubWrapper .inboxSubContent h1 {
  font-weight: bold;
  font-size: 48px;
  word-spacing: 4px;
}

.inboxSubWrapper .inboxSubContent p {
  font-size: 14px;
  margin-top: 24px;
}

.inboxSubWrapper .inboxSubContent button {
  background-color: var(--white);
  color: var(--primeColor);
  border-radius: 4px;
  border: 1px solid var(--white);
}

.inboxSubWrapper .inboxSubContent button:hover {
  background-color: var(--secondColor);
  border-color: var(--secondColor);
  color: var(--white);
}

/* The Latest on the Blog */

.latestOnBlog figcaption {
  color: var(--primeColor);
  font-weight: 500;
  font-family: var(--poppinsFont);
}

.latestOnBlog img,
.currentFavorites img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.latestOnBlog .btn,
.currentFavorites .btn {
  background-color: var(--primeColor);
  color: white;
  border-radius: 4px;
  padding: 8px 14px;
  border: 1px solid var(--primeColor);
  transition: all ease-in 200ms;
  text-transform: uppercase;
  font-size: 14px;
}

.latestOnBlog .btn:hover,
.currentFavorites .btn:hover {
  background-color: var(--secondColor);
  border-color: var(--secondColor);
}

/* Action Area */

.actionAreaWrapper {
  position: relative;
  width: 100%;
  background-color: var(--heroBgRight);
  height: 80vh;
}

.actionAreaWrapper .actionArealeft {
  background-color: var(--heroBgLeft);
  width: 66.67%;
  height: 100%;
  position: relative;
}

.actionAreaWrapper .actionAreaRight {
  width: 33.33%;
  height: 100%;
  background-color: var(--heroBgRight);
  position: relative;
}

.heroSliderWrapper {
  position: absolute;
  top: 12%;
}

.heroSliderContent img {
  width: 100%;
  object-fit: cover;
  height: 65vh;
}

.heroSliderWrapper .splide__arrow--next {
  right: 1em;
}

.heroHighlights {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.85);
  width: 370px;
  height: 500px;
  border-radius: 5px;
  transition: all ease-in 200ms;
}

.heroHighlights h1 {
  font-weight: bold;
  color: #000;
}

.heroHighlights p {
  font-size: 14px;
}

.heroActionHighlights {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  width: 320px;
  /* height: 160px; */
  right: 5%;
  top: 56%;
  border-radius: 5px;
  transition: all ease-in 200ms;
}

.heroActionHighlights h3 {
  color: #000;
  /* padding-bottom: 12px; */
}

.heroActionArrow {
  color: var(--primeColor);
  cursor: pointer;
}

.heroActionBtn {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 10%;
  transition: all ease-in 200ms;
}

/* Categories */

.catFigures img {
  width: 156px;
  height: 156px;
  object-fit: cover;
  cursor: pointer;
}

.catFigures .figure-caption {
  cursor: pointer;
}

/* Current Favorites */

.currentFavorites .cfBackdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--cfSubBg);
}

.currentFavorites section {
  position: absolute;
  bottom: 0;
}

/* =================================== SOCIAL CARDS =================================== */

.socialCardWrapper .socialCardLinks {
  text-decoration: none;
  color: var(--primeColor);
}

.smCardWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* =================================== Contact =================================== */

.letsConnect .contactDpWrapper {
  margin-top: 150px;
}

.letsConnect .contactDp {
  position: relative;
  text-align: center;
  border: 1px solid var(--primeColor);
  width: 540px;
  height: 450px;
  background-color: var(--heroBgLeft);
  transition: all ease-in 250ms;
}

.letsConnect .contactDp img {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
  position: absolute;
  top: -120px;
  transform: translateX(-50%);
  transition: all ease-in 250ms;
}

.letsConnect .contactDp ul {
  list-style: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
}

.letsConnect .contactDp ul li {
  font-family: var(--font);
  font-size: 24px;
  color: var(--primeColor);
  padding: 4px 0px;
  transition: all ease-in 250ms;
}


/* =================================== Visit The Shop =================================== */

.searchWrapper {
  position: relative;
}

.searchWrapper input {
  background-color: var(--bgInput);
  border: 1px solid var(--bgInput);
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  transition: all ease-in 200ms;
}

.searchWrapper input:focus {
  border-color: var(--primeColor);
}

.searchWrapper span.searchIcon {
  font-size: 20px;
  padding: 5px 0px;
  position: absolute;
  right: 16px;
  bottom: 2px;
  cursor: pointer;
  transition: all ease-in 200ms;
}

.searchWrapper span.searchIcon:hover {
  color: var(--primeColor);
}

.shopCard {
  padding: 18% 6%;
  background-color: var(--heroBgLeft);
}

.shopBtn .btn {
  background-color: var(--primeColor);
  color: var(--white);
  padding: 8px 16px;
  transition: all ease-in 200ms;
  text-transform: uppercase;
}

.shopBtn .btn:hover {
  background-color: var(--secondColor);
}

.tikTokSliderWrapper {
  width: 91.50%;
  background-color: var(--heroBgLeft);
  height: 700px;
}

.collectionRedirect h2 {
  font-family: var(--font);
}

.collectionRedirect button.btn {
  background-color: var(--primeColor);
  padding: 8px 16px;
  color: var(--white);
  text-transform: uppercase;
  transition: all ease-in 200ms;
}

.collectionRedirect button.btn:hover {
  background-color: var(--secondColor);
}

.sliderContent img {
  /* width: 370px; */
  width: 95%;
  height: 450px;
  transition: all ease-in 200ms;
  border-radius: 12px;
  object-fit: cover;
}

.splide__list .is-active .sliderContent img {
  height: 520px;
}

li.splide__slide {
  /* width: 100% !important; */
}

.splide__pagination {
  bottom: 24px;
  transition: all ease-in 200ms;
}

.splide__pagination__page,
.splide__pagination__page.is-active {
  background-color: var(--primeColor);
}



/* =================================== About =================================== */

.about {
  margin-bottom: 150px;
}

.AboutMainRibbon {
  width: 100%;
  height: 330px;
  background-color: var(--heroBgLeft);
  transition: all ease-in 250ms;
}

.aboutImages {
  position: relative;
}

.aboutImages img.bio {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
  position: absolute;
  /* top: -120px; */
  left: 43%;
  transform: translate(-50%, -25%);
  transition: all ease-in 250ms;
  rotate: -17deg;
}

.aboutImages img.bioSecondary {
  max-width: 290px;
  max-height: 290px;
  object-fit: contain;
  position: absolute;
  /* top: -120px; */
  right: 40%;
  transform: translate(45%, -10%);
  transition: all ease-in 250ms;
  rotate: 12deg;
}

.aboutMeSecondary {
  position: absolute;
  rotate: 12deg;
  left: 30%;
  transform: translate(10%, 25%);
  transition: all ease-in 250ms;
  z-index: -1;
}

.wantToSeeWrapper {
  width: 100%;
  background-color: var(--heroBgLeft);
}


/* MISC. */

.primaryWrapper {
  width: calc(100% - 13.25%);
  margin-left: auto;
  margin-right: auto;
}



/* =================================== MEDIA QUERIES =================================== */


/* HomePage */

@media(max-width: 1399px) {
  .heroHighlights {
    /* width: 30%; */
    /* top: 7%; */
  }
}

@media(max-width: 1199px) {
  .heroHighlights {
    /* width: 40%;
    top: 20%; */
  }
}

@media (max-width: 991px) {

  .heroHighlights {
    /* width: 50%;
    top: 19%; */
    height: 445px;
  }

  .actionAreaWrapper {
    height: 70vh;
  }

  .heroSliderWrapper {
    top: 15%;
  }

  .heroSliderContent img {
    height: 55vh;
  }

}

@media (max-width: 767px) {

  .heroActionHighlights {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  .actionAreaWrapper {
    height: 50vh;
  }

  .heroSliderWrapper {
    top: 20%;
  }

  .heroSliderContent img {
    height: 35vh;
  }
}

@media (max-width: 575px) {

  .actionAreaWrapper {
    height: 35vh;
  }

  .heroSliderContent img {
    height: 25vh;
  }
}

@media (max-width: 399px) {
  .actionAreaWrapper {
    height: 20vh;
  }

  .heroSliderContent img {
    height: 15vh;
  }

  .heroSliderWrapper {
    top: 12%;
  }

}


/* Paragraphs */
@media (max-width: 575px) {
  p {
    font-size: 14px;
  }
}

/* Header */

@media (max-width:575px) {
  .menuOptions ul li:hover {
    transform: translateX(75px);
  }
}

/* Footer */

@media (max-width:767px) {
  .footerHeading {
    text-align: center;
  }
}

/* Inbox Subscriptions */

@media (max-width: 991px) {
  .inboxSubWrapper .inboxSubContent h1 {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .inboxSubWrapper .inboxSubContent h1 {
    font-size: 32px;
  }
}

/* Latest on the blog */

@media (max-width: 1199px) {
  .latestOnBlog p {
    font-size: 14px;
  }
}

/* Categories */

@media (max-width: 1199px) {
  .catFigures img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 991px) {
  .catFigures img {
    width: 90px;
    height: 90px;
  }

  .catFigures .figure-caption {
    font-size: 12px;
  }
}

@media (max-width: 767px) {

  .catFigures .figure-caption {
    font-size: 11px;
  }
}

/* Current Favorites */

@media (max-width: 1399px) {
  .currentFavorites .btn {
    font-size: 12px;
    padding: 8px 12px;
  }

  .currentFavorites h4 {
    font-size: 18px;
  }
}

/* Visit The Shop */
@media (max-width: 1199px) {
  .sliderContent img {
    height: 400px;
  }

  .splide__list .is-active .sliderContent img {
    height: 450px;
  }
}

@media (max-width: 991px) {
  .sliderContent img {
    height: 350px;
  }

  .splide__list .is-active .sliderContent img {
    height: 400px;
  }

  .splide__pagination {
    bottom: 5px;
  }

  .tikTokSliderWrapper {
    width: 100%;
  }

  .collectionRedirectWrapper {
    padding: 7%;
  }

}

@media (min-width: 992px) {

  .sliderMainWrapper {
    position: absolute;
    right: -30%;
    transform: translateY(-50%);
  }

  .splide__arrow--next {
    right: 20%;
    transition: all ease-in 200ms;
  }

  .collectionRedirectWrapper {
    padding-left: 7%;
  }

}

@media (max-width: 767px) {

  .tikTokSliderWrapper {
    width: 100%;
    height: 650px;
  }


}

@media (max-width: 575px) {
  .sliderContent img {
    width: 95%;
    height: auto;
    transition: all ease-in 400ms;
  }

  .splide__list .is-active .sliderContent img {
    height: 270px;
  }

  .tikTokSliderWrapper {
    height: 550px
  }
}

@media (max-width: 399px) {
  .splide__list .is-active .sliderContent img {
    height: 180px;
  }

  .tikTokSliderWrapper {
    height: 450px
  }

}

/* Contact */

@media (max-width: 767px) {
  .letsConnect .contactDp {
    width: 490px;
    height: 400px;
  }

  .letsConnect .contactDp img {
    max-width: 350px;
    max-height: 350px;
  }

  .letsConnect .contactDp ul li {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .letsConnect .contactDp {
    width: 300px;
    height: 250px;
  }

  .letsConnect .contactDp img {
    max-width: 220px;
    max-height: 220px;
  }

  .letsConnect .contactDp ul li {
    font-size: 16px;
  }
}

/* About */
@media (max-width: 1399px) {

  .about {
    margin-bottom: 120px;
  }

  .aboutImages img.bioSecondary {
    right: 35%;
  }

}

@media (max-width: 1199px) {

  .about {
    margin-bottom: 100px;
  }

  .aboutImages img.bioSecondary {
    width: 250px;
    height: 250px;
  }

  .aboutImages img.bio {
    width: 360px;
    height: 360px;
    left: 40%;
  }

}

@media (max-width: 991px) {

  .aboutFooter {
    position: absolute;
    bottom: -2030px;
    width: 100%;

  }

  .preTabWrapper {
    position: absolute;
    top: 1200px;
    width: 100%;
  }

  .myStoryWrapper {
    position: absolute;
    top: 600px;
    width: 100%;
  }

  .about {
    margin-bottom: 90px;
  }

  .aboutMeWrapper .aboutImages {
    text-align: center;
  }

  .aboutMePara {
    position: absolute;
    top: 400px;
    text-align: center;
    margin-top: 16px;
  }

  .aboutMe {
    position: absolute;
    width: 380px;
    height: 380px;
    left: 25%;
  }

  .aboutMeSecondary {
    width: 240px;
    height: 240px;
    left: 50%;
  }

  .AboutMainRibbon {
    height: 300px;
  }

  .aboutImages img.bioSecondary {
    width: 230px;
    height: 230px;
    right: 32%;
  }

  .aboutImages img.bio {
    width: 320px;
    height: 320px;
  }

}

@media (max-width: 767px) {

  .preTabWrapper {
    top: 950px;
  }

  .myStoryWrapper {
    top: 470px;
  }

  .about {
    margin-bottom: 70px;
  }

  .aboutMePara {
    top: 250px;
  }

  .aboutMe {
    width: 230px;
    height: 230px;
    left: 25%;
  }

  .aboutMeSecondary {
    width: 180px;
    height: 180px;
    left: 40%;
  }

  .AboutMainRibbon {
    height: 210px;
  }

  .aboutImages img.bioSecondary {
    width: 190px;
    height: 190px;
  }

  .aboutImages img.bio {
    width: 230px;
    height: 230px;
  }

}

@media (max-width: 399px) {

  .about {
    margin-bottom: 50px;
  }

  .aboutMePara {
    top: 180px;
  }

  .aboutMe {
    width: 170px;
    height: 170px;
    left: 25%;
  }

  .aboutMeSecondary {
    width: 125px;
    height: 125px;
    left: 40%;
  }

  .AboutMainRibbon {
    height: 140px;
  }

  .aboutImages img.bioSecondary {
    width: 125px;
    height: 125px;
    right: 25%;
  }

  .aboutImages img.bio {
    width: 170px;
    height: 170px;
  }

}

/* Misc. */

@media (max-width:767px) {
  .primaryWrapper {
    width: calc(100% - 5%);
  }
}